.capitalAudioPlayer,
.classicAudioPlayer {
    margin-left: 10px;
}

.radioXAudioPlayer > img {
    height: 40px;
    width: 80px;
}

.classicAudioPlayer > img {
    width: 90px;
}

.capitalAudioPlayer > img {
    width: 100px;
}