.capitalAudioPlayer,
.capitalXtraAudioPlayer {
    margin-left: 10px;
}

.radioXAudioPlayer > img {
    height: 40px;
    width: 80px;
}

.capitalXtraAudioPlayer > img {
    width: 65px;
}

.capitalAudioPlayer > img {
    width: 100px;
}