.capitalAudioPlayer,
.bbc1XtraAudioPlayer {
    margin-left: 10px;
}

.radioXAudioPlayer > img {
    height: 40px;
    width: 80px;
}

.bbc1XtraAudioPlayer > img {
    width: 115px;
}

.capitalAudioPlayer > img {
    width: 100px;
}