.lbcAudioPlayer {
    margin-left: 10px;
}

// .lbcAudioPlayer > img {
//     background-color: #000;
// }

.bbcWorldServiceAudioPlayer {
    position: relative;
    left: 5.6324px;
}
.bbcWorldServiceAudioPlayer > img {
    width: 57.5px;
}
